* {
  margin: 0;
  padding: 0;
}

.main {
  margin: auto;
  height: 600px;
  width: 1250px;
}
.main .sec1 {
  background-image: url(/image/back1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1705px;
}
.main .sec1 .nav {
  width: 1160px;
  height: 51px;
  border-radius: 75px;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.main .sec1 .nav .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .sec1 .nav .left .img1 {
  width: 53px;
  height: 19.46px;
  padding-left: 10px;
}
.main .sec1 .nav .left .nav_text, .main .sec1 .nav .left .right {
  font-size: 15px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 13.57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 41px;
}
.main .sec1 .nav .right {
  display: flex;
  align-items: center;
}
.main .sec1 .nav .right .img2 {
  width: 77.9px;
  height: 30.73px;
  padding-right: 5px;
  padding-left: 14px;
}
.main .sec1 .all, .main .sec1 .sec2 .all1, .main .sec2 .sec1 .all1 {
  display: flex;
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
}
.main .sec1 .all .left1 .big1, .main .sec1 .sec2 .all1 .left1 .big1, .main .sec2 .sec1 .all1 .left1 .big1 {
  color: #22253B;
  font-size: 46px;
  font-family: Gilroy;
  font-weight: 500;
  line-height: 46px;
}
.main .sec1 .all .left1 .big1 .span1, .main .sec1 .sec2 .all1 .left1 .big1 .span1, .main .sec2 .sec1 .all1 .left1 .big1 .span1 {
  color: #F15525;
  font-size: 46px;
  font-family: Gilroy SemiBold;
  font-weight: 400;
  line-height: 46px;
}
.main .sec1 .all .left1 .big1 .span2, .main .sec1 .sec2 .all1 .left1 .big1 .span2, .main .sec2 .sec1 .all1 .left1 .big1 .span2 {
  color: #22253B;
  font-size: 46px;
  font-family: Gilroy SemiBold;
  font-style: italic;
  font-weight: 600;
  line-height: 46px;
}
.main .sec1 .all .left1 .text_left1, .main .sec1 .sec2 .all1 .left1 .text_left1, .main .sec2 .sec1 .all1 .left1 .text_left1 {
  color: #22253B;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 23px;
}
.main .sec1 .all .left1 .but1, .main .sec1 .sec2 .all1 .left1 .but1, .main .sec2 .sec1 .all1 .left1 .but1 {
  color: white;
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 19.34px;
  background-color: #F15525;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 27px;
  padding-bottom: 28px;
  border-radius: 82px;
  border: none;
}
.main .sec2 {
  background-color: white;
}
.main .sec2 .h1text1 {
  padding-top: 30PX;
  font-family: Gilroy SemiBold;
  font-size: 46px;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  padding-bottom: 35px;
}
.main .sec2 .all1 {
  width: 1160px;
  height: 396px;
  border-radius: 48px;
  background-color: #EAF2F5;
  margin: auto;
}
.main .sec2 .all1 .right2 {
  font-family: Gilroy SemiBold;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
}
.main .cont1 {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
  border-radius: 25px;
}
.main .cont1 .box1 {
  width: 270px;
  height: 254px;
  background-color: #EAF2F5;
  border-radius: 30px;
  border: 1px solid black;
  margin-left: 27px;
  text-align: center;
}
.main .cont1 .box1 img {
  width: 58px;
  height: 58px;
  padding-top: 50px;
  padding-bottom: 10px;
}
.main .cont1 .box1 .text1_box {
  color: #22253B;
  font-size: 18px;
  font-family: Gilroy SemiBold;
  font-weight: 600;
  line-height: 18.5px;
  height: 50px;
}
.main .cont1 .box1 .text2_box, .main .cont1 .box1 .sec3 .box2 .col1 .text23_box, .main .sec3 .box2 .col1 .cont1 .box1 .text23_box, .main .cont1 .box1 .sec3 .box2 .col1 .text22_box, .main .sec3 .box2 .col1 .cont1 .box1 .text22_box, .main .cont1 .box1 .sec3 .box2 .col1 .text21_box, .main .sec3 .box2 .col1 .cont1 .box1 .text21_box {
  color: #22253B;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 300;
  line-height: 15px;
  height: 35px;
}
.main .sec3 {
  margin: auto;
  background-image: url(/image/t.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1250px;
  height: 1150px;
  text-align: center;
  padding-top: 50px;
}
.main .sec3 .h1text1 {
  padding-top: 30PX;
  font-family: Gilroy SemiBold;
  font-size: 46px;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  padding-bottom: 35px;
}
.main .sec3 .text1_box {
  color: #22253B;
  font-size: 18px;
  font-family: Gilroy SemiBold;
  font-weight: 600;
  line-height: 18.5px;
  height: 50px;
}
.main .sec3 .backk {
  background-image: url(/image/Group\ 1178.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 625.35px;
  height: 440.16px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20PX;
}
.main .sec3 .backk .mcc {
  position: relative;
  margin-top: 135px;
  margin-left: 60px;
}
.main .sec3 .box2 {
  width: 1160px;
  height: 349px;
  border-radius: 25px;
  background-color: #ffffff;
  display: flex;
  margin: auto;
  text-align: left;
  margin-left: 53px;
  align-items: center;
  justify-content: space-around;
}
.main .sec3 .box2 .col1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 53px;
}
.main .sec3 .box2 .col1 .num {
  color: #38BFF2;
  font-size: 77px;
  font-family: Gilroy;
  font-weight: 700;
  line-height: 30px;
  height: 70px;
}
.main .sec3 .box2 .col1 .text1_box {
  color: #22253B;
  font-size: 23px;
  font-family: Gilroy SemiBold;
  font-weight: 600;
  line-height: 18.5px;
  height: 60px;
  line-height: 25px;
  width: 266px;
}
.main .sec3 .box2 .col1 .text21_box {
  line-height: 20px;
  width: 200px;
}
.main .sec3 .box2 .col1 .text22_box {
  line-height: 20px;
  width: 235px;
}
.main .sec3 .box2 .col1 .text23_box {
  line-height: 20px;
  width: 250px;
}
.main .sec3 .box3 {
  width: 538px;
  height: 93px;
  border-radius: 110px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 26px;
  justify-content: space-around;
}
.main .sec3 .box3 .but2 {
  color: white;
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 19.34px;
  background-color: #F15525;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 27px;
  padding-bottom: 28px;
  border-radius: 82px;
  border: none;
  width: 249px;
}
.main .sec3 .box3 p {
  color: #22253B;
  font-size: 15px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  width: 214px;
}
.main .dmain {
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin-top: 75px;
}
.main .dmain .leftd {
  width: 401px;
  height: 313px;
  background-color: #EAF2F5;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .dmain .rightd {
  width: 730px;
  height: 313px;
  border-radius: 40px;
  background-color: #EAF2F5;
  text-align: left;
  line-height: 25px;
  letter-spacing: 0.5px;
}
.main .dmain .rightd h1:nth-child(1) {
  width: 576px;
  height: 50px;
  margin-top: 54px;
  margin-left: 100px;
}
.main .dmain .rightd p:nth-child(2) {
  width: 400px;
  height: 70px;
  margin-left: 100px;
}
.main .dmain .rightd p:nth-child(3) {
  width: 510px;
  margin-left: 100px;
}
.main .dmain .rightd1 {
  width: 730px;
  height: 313px;
  border-radius: 40px;
  background-color: #EAF2F5;
  text-align: left;
  line-height: 25px;
  letter-spacing: 0.5px;
}
.main .dmain .rightd1 h1 {
  width: 576px;
  height: 50px;
  margin-top: 54px;
  margin-left: 100px;
}
.main .dmain .rightd1 p {
  line-height: 26px;
  width: 502px;
  height: 70px;
  margin-left: 100px;
}
.main .maingr {
  background-color: rgb(250, 250, 250);
  margin-top: 50px;
}
.main .maingr .h11 {
  margin: auto;
  text-align: center;
  color: #22253B;
  font-size: 46px;
  font-family: Gilroy SemiBold;
  font-weight: 600;
  line-height: 46px;
}
.main .maingr .divmain {
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.main .maingr .divmain .divvtor1 {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .maingr .divmain .divvtor1 p {
  width: 300px;
  height: 63px;
  text-align: left;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-left: 29px;
}
.main .maingr .ttable {
  width: 1160px;
  height: 550px;
  border-radius: 30px;
  background-color: white;
  margin: auto;
  margin-top: 41px;
}
.main .maingr .white {
  width: 1160px;
  height: 550px;
  margin: auto;
  margin-top: 41px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main .maingr .white .navt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #38BFF2;
  width: 1081px;
  height: 57px;
}
.main .maingr .white .navr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #22253B;
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  width: 1081px;
  height: 57px;
}
.main .maingr .white .navr p:nth-child(1) {
  width: 309px;
}
.main .maingr .white .dop {
  display: flex;
  justify-content: space-around;
  width: 1060px;
  height: 57px;
  align-items: center;
  color: #22253B;
  font-size: 24px;
  font-family: Gilroy;
  font-weight: 700;
  line-height: 25px;
  width: 1081px;
  height: 57px;
}
.main .maingr .white .dop p:nth-child(1) {
  width: 309px;
}
.main .maingr .white .navrgrey {
  display: flex;
  justify-content: space-around;
  width: 1080px;
  height: 57px;
  align-items: center;
  color: #22253B;
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 25px;
  background: #F3F3F3;
  border-radius: 10px;
  text-align: left;
}
.main .maingr .white .navrgrey p:nth-child(1) {
  width: 309px;
}
.main .maingr .litle {
  color: #8E8E8E;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.main .grey {
  width: 1160px;
  height: 218px;
  margin: auto;
  border-radius: 30px;
  background-color: #EAF2F5;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main .grey .nantext {
  width: 500px;
  height: 88px;
}
.main .grey .but2 {
  color: white;
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 19.34px;
  background-color: #F15525;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 27px;
  padding-bottom: 28px;
  border-radius: 82px;
  border: none;
  width: 249px;
}
.main .mainl {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.main .mainl .leftl {
  display: flex;
}
.main .mainl .leftl p {
  color: #8E8E8E;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 19px;
  width: 50px;
  padding-left: 30px;
}
.main .mainl .leftl img {
  width: 87.16px;
  height: 32px;
  align-items: center;
  padding-left: 30px;
}
.main .mainl .imgl {
  display: block;
}
.main .mainl .text {
  margin-left: 400px;
  color: #22253B;
  font-size: 13px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 13.57px;
  line-height: 35px;
}
.main .ref .blue {
  color: #38BFF2;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 23px;
  height: 30px;
}
.main .ref .grey1 {
  color: #8E8E8E;
  font-size: 13px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 23px;
}
.main .ref .tt1 {
  margin-bottom: 35px;
}
.main .foter {
  margin: auto;
  width: 1160px;
  height: 200px;
  border-top: 1px solid rgb(68, 68, 68);
  margin-top: 20px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.main .foter .leftl {
  margin-top: 30px;
}
.main .foter .leftl p {
  color: #8E8E8E;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 23px;
}
.main .foter .rightl {
  display: flex;
  margin-top: 30px;
}
.main .foter .rightl p {
  padding-left: 80px;
  color: #8E8E8E;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 400;
  line-height: 23px;
}
.main .icons {
  margin-top: 75px;
  margin-left: -185px;
  width: 188px;
  height: 35px;
  display: flex;
}
.main .icons .ic {
  margin-left: -10px;
}/*# sourceMappingURL=style.css.map */